@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor1: #99ff00;
    --cor2:  #66cc00;
    --cor3: #14500d;
    --cor4: #7D1665;
    --cor5: #0d3109;
}

*{
    margin: 0px;
    font-family: 'Poppins', Arial, sans-serif;
    box-sizing: border-box;
}

.destaque{
    color: var(--cor1);
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 120px 1fr 80px;
    grid-template-columns: 1fr ;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    overflow-x: hidden;
}

.cabecalho{
    grid-area: cabecalho;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 90px;
    grid-template-areas: "titulo links logo";
    background-color: black;
    color: white;
    justify-content: start;
    align-items: center;
}

.cabecalho>h1{
    grid-area: titulo;
    padding-left: 90px;
    font-size: 3.8rem;
}

.links{
    grid-area: links;
}

.links li{
    display: inline;
}

.links a{
    color: #aaa;
    text-decoration: none;
    margin-right: 28px;
    padding: 8px;
    list-style: none;
    border-radius: 5px;
}

.links a:hover {
    background-color: #444;
}

.logo img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.conteudo {
    grid-area: conteudo;
    background-color: #000000;
    background-position: center center ;
    background-size: cover;
    background-attachment: fixed;
}

.bloco1{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero pc-img";
    gap: 80px;
    color: white;
}

.hero{
    grid-area: hero;
    padding: 20px;
    margin-left: 20px;
    margin-top: 60px;
}

.hero h2{
    font-size: 2.2rem;
    padding-top: 15px;
    padding-bottom: 4px;
}

.hero p{
    line-height: 1.2rem;
    margin-bottom: 45px;
}

.hero a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(60deg, var(--cor3), var(--cor1));
    border-radius: 6px;
    padding: 10px;
   
}

.hero a:hover{
    background-image: linear-gradient(-60deg, var(--cor3), var(--cor1));
}

.pc-img{
    margin-bottom: 0px;
    grid-area: pc-img;
}

.pc-img img{
    width: 600px;
    height: 470px;
}

.bloco2{
    margin-top: 100px;
}

.bloco2 > h2{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;

}
.serviços {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.serviços > div{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 300px;
    height: 350px;
    color: white;
    margin-right: 80px;
    margin-bottom: 60px;
    padding: 10px;
    border-radius: 15px;
    background-color: #1a1a1a;
    box-shadow: 3px 4px 5px var(--cor2);
}

.serviços > div:hover{
    background-color: #212121;
    box-shadow: 7px 9px 5px var(--cor2);
    transform: scale(1.02);
    transition-duration: .5s;
}

.item >p{
    text-align: center;
}

.material-symbols-outlined{
    font-size: 7rem;
    margin-bottom: 40px;
    padding-top: 30px;
    color: var(--cor1);
}

.efeito-inicio, .efeito-profissionais, .efeito-vitrine, .efeito-img, .efeito-hero, .efeito-pc-img, .item{
    visibility: hidden;
}


.meio{
    margin: 100px 0px;
    min-height: calc(270px + 100px);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.profissionais{
    width: 700px;
    min-height: 270px;
    background-color: #111111;
    margin-bottom: 50px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 4px 15px 1px rgb(0, 0, 0);
}

.profissionais > h2{
    font-size: 2.2rem;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.profissionais > p{
    text-align: center;
    padding: 2px 8px;
    font-family: 'Inter', sans-serif;
}

.botoes{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.profissionais button{
    margin-top: 15px;
    padding: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    background-image: linear-gradient(60deg, var(--cor4), var(--cor4));
    color: white;
    border: 0px ;
    border-radius: 6px 11px;
}

.profissionais button:hover{
    background-image: linear-gradient(-60deg, var(--cor3), var(--cor1)); 
}

.apresentacao{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao{
    width: 50%;
    text-align: justify;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}

.descricao h2{
    color: var(--cor4) ;
}
#foto{
    display: none;
    width: 300px;
    height: 300px;
    margin: 20px ;
    background-color: #222;
    border-radius: 50%;
    filter: grayscale(100%);
}

.fim{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

.vitrine{
    width: 50%;
    margin: 50px 25px;
    padding: 15px;
    background-color: white;
    color: black;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 2px 5px 9px rgb(0, 0, 0);
    

}

.vitrine h2{
    font-size: 2.3rem;
    margin-bottom: 15px;
    text-align: center;
}

.vitrine p{
    padding: 10px;
    line-height: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.whatsapp{
    display: flex;
    justify-content: end;
    align-items: center;
}


.whatsapp .material-symbols-outlined{
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.vitrine a{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(60deg, var(--cor1), var(--cor3));
    border-radius: 8px;
}

.vitrine a:hover{
    background-image: linear-gradient(-60deg, var(--cor1), var(--cor3));
}

.img{
    width: 45%;
}

.inicio {
    margin-top: 100px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/fundo-formulario.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}

.inicio >h2{
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
}

.inicio >p{
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
}

.formulario{
    margin: 80px auto;
    min-width: 450px;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 8px 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.803);
}

.formulario:hover{
    border: 1px solid var(--cor1);
}

.formulario h2{
    margin-top: 10px;
    margin-bottom: 30px;
}

.formulario label{
    font-weight: 600;
    font-size: 1.2rem;
    color: #ccc;
}

.formulario input{
    margin-top: 10px ;
    border-radius: 5px;
    background-color: #222;
    border: none;
    margin-bottom: 15px;
    width: 280px;
    height: 40px;
}

.formulario button{
    margin-top: 15px;
    padding: 8px;
    font-size: 1rem;
    width: 90px;
    background-image: linear-gradient(60deg, var(--cor3), var(--cor1));
    color: #fff;
    border: 0px ;
    border-radius: 6px 11px;
    margin-bottom: 15px;
}

.formulario button:hover{
    background-image: linear-gradient(-60deg, var(--cor3), var(--cor1)); 
}


.rodape{
    grid-area: rodape;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.rodape a{
    text-decoration: none;
    color: white;
}

.rodape a:hover{
    background-color: #444;
}

.whatsapp-flutuante{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff21;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.58);
    transition: transform .3 ease;
}

.whatsapp-flutuante:hover{
    transform: scale(1.1);
}

.whatsapp-flutuante img{
    height: 35px;
    width: 35px;
}